
# these are the values you'll need to create

# curl -i -u admin:change_me http://localhost:8080/tasks

# curl -u admin:change_me -X POST http://localhost:8080/tasks -H "Content-Type: application/json" -d '{"title": "Cloned and works!"}'

DB_PASSWORD=change_me
ADMIN_PASSWORD=change_me